# =====================================
# Python Cache
# =====================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================================
# Virtual Environment
# =====================================
.venv/
venv/
env/

# =====================================
# Environment Variables
# =====================================
.env

!.env.example

# =====================================
# Logs
# =====================================
*.log
logs/

# =====================================
# Build Files
# =====================================
build/
dist/
*.egg-info/

# =====================================
# Local Database
# =====================================
*.db
*.sqlite3

# =====================================
# IDE
# =====================================
.idea/
.vscode/

# =====================================
# Temporary Files
# =====================================
*.tmp
*.bak

# =====================================
# Notebook Checkpoints
# =====================================
.ipynb_checkpoints/